CMakeLists.txt
cmake-build-debug
objs
node_modules
.idea
.vscode/
.DS_Store
*.DS_Store
a.out.dSYM
*.sqlite3
**/__pycache__/
*.pyc
transcendence/blockchain/package-lock.json
.env
note.txt
user_photos/
PongTournament.json
tempContractAddress.txt