/****************************************************************************
 * Setup Global
 *
 * def des couleur en root, setup list, body
 ***************************************************************************/
:root {
  --bg-body: rgba(34, 33, 51, 1);
  --bg: rgb(44, 42, 66);
  --bg-sec: rgba(44, 42, 66, 0.2);
  --orange: rgb(247, 138, 80);
  --white: rgb(165, 165, 175);
  --white-sec: rgb(115, 113, 135);
  --green: rgb(183, 222, 90);
  user-select: none;
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
body {
  background-color: var(--bg-body);
  padding: 0;
  margin: 25px 25px 25px 25px;
  font-family: "Roboto", sans-serif;
  overflow-y: hidden;
}
/****************************************************************************
 * FIN Setup Global
 ***************************************************************************/

/****************************************************************************
 * Page login
 *
 * Style page login et de ses elements
 ***************************************************************************/
.login {
  width: 45vh;
  height: 50vh;
  background-color: var(--bg);
  margin: 20vh auto auto auto;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: xx-large;
  color: var(--orange);
}
.btn-connexion {
  background-color: var(--orange);
  color: var(--bg-body);
  padding: 8px;
  border-radius: 15px;
  cursor: pointer;
}
/****************************************************************************
 * FIN Page login
 ***************************************************************************/

/****************************************************************************
 * Utils
 *
 * global utils
 ***************************************************************************/
.uppercase {
  text-transform: uppercase;
}
.pointer {
  cursor: pointer;
}
.displayNone {
  display: none !important;
}
.notAllowed {
  cursor: not-allowed;
}
/****************************************************************************
 * FIN Utils
 ***************************************************************************/

/****************************************************************************
 * Top bar
 *
 * Style de la top-bar et de ses elements
 ***************************************************************************/
.top-banner {
  width: 100%;
  height: 50px;
  background-color: var(--bg);
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-banner .logo {
  height: 50px;
  object-fit: cover;
  padding-left: 10px;
}
.top-banner .user {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 240px;
}
.top-banner .user .photo {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 100%;
}
.top-banner .user .name {
  color: var(--orange);
  font-weight: larger;
}
.top-banner .user .banner-icon {
  width: 20px;
  height: 20px;
  padding-left: 10px;
}
/****************************************************************************
 * FIN Top bar
 ***************************************************************************/
/****************************************************************************
 * Page
 *
 * Style de la page + right banner et se son content 
 * c'est dans le content que les différents blocs suivant vont etre injectés
 *      - Dashboard
 *      - Profile
 *      - Game
 ***************************************************************************/
.page {
  width: 100%;
  height: calc(100vh - 125px);
  display: flex;
  margin-top: 25px;
}
.page .content {
  width: calc(100% - 250px);
  margin-right: 35px;
}
.page .right-banner {
  width: 255px;
  background-color: var(--bg);
  border-radius: 15px;
}
.right-banner .title {
  color: var(--orange);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
}
.right-banner ul {
  padding: 15px 15px 0 15px;
}
.right-banner li {
  display: flex;
  align-items: center;
  gap: 5px;
  padding-top: 10px;
}
.right-banner li .status {
  width: 8px;
  height: 8px;
  border-radius: 5px;
  margin-left: 10px;
  background: red;
}
.right-banner li .online {
  background-color: var(--green);
}
.right-banner li .in-game {
  background-color: var(--orange);
}
.right-banner li .name {
  color: var(--white);
}
.right-banner li .custom-checkbox {
  width: 25px;
  height: 25px;
  margin-left: auto;
  cursor: pointer;
  position: relative;
}
.custom-checkbox input {
  display: none;
}
.checkbox-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./img/unfollow.svg"); /* Chemin vers le SVG non coché */
  background-size: contain;
}
.custom-checkbox input:checked + .checkbox-svg {
  background-image: url("./img/follow.svg"); /* Chemin vers le SVG coché */
}
/****************************************************************************
 * FIN Page et Right banner
 ***************************************************************************/
/****************************************************************************
 * DASHBOARD
 *
 * Style du dashboard et de tous ces components
 ***************************************************************************/
.dash {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 25px;
}
.dash .card {
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  border-radius: 15px;
}
.card .card--title {
  color: var(--orange);
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  /* margin-left: 45%;  Rajouter pour les stats avanc2e    */
  padding-top: 15px;
}
.card.advencedStats .card--title {
  margin-left: 45%;
}
.card .card--title .btn-hystoric,
.card .card--title .btn-satistics {
  margin-left: auto;
  color: var(--bg-body);
  margin-right: 20px;
  background-color: var(--orange);
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}
/****************************************************************************
         * VIGNETTES de stats globales
         *
         * Contenu
         ***************************************************************************/
.card.stats {
  grid-row: 1 / 3;
  grid-column: 2/6;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 10px 0 10px;
  gap: 25px;
}
.stats .item-card {
  margin: 30px 5px 5px 5px;
  border-radius: 15px;
  background-color: var(--bg-body);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 55%;
}
.stats .item-card .icon {
  width: 75%;
  height: 75%;
  margin-top: -23%;
}
.stats .item-card .text-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  font-size: medium;
}
.stats .item-card .text-content {
  width: 100%;
  /* height: 40%; */
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--orange);
  font-size: larger;
}
.flexCard {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/****************************************************************************
         * FIN VIGNETTES
         ***************************************************************************/

/****************************************************************************
         * NOUVEAU MATCH
         *
         * Contenu
         ***************************************************************************/
.card.new-game {
  grid-row: 1 / 4;
  grid-column: 1;
  /* padding-left: 15px; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.new-game .new-game--icon {
  width: 280px;
  padding: 50px 0 50px 0;
  cursor: pointer;
}
/****************************************************************************
         * FIN NOUVEAU MATCH
         ***************************************************************************/

/****************************************************************************
         * TOURNOIS
         *
         * Contenu
         ***************************************************************************/
.card.new-tournament {
  grid-row: 4 /7;
  grid-column: 1;
}
.new-tournament .card--title .create {
  font-size: xx-large;
  margin: 0 0 0 20px;
  /* margin-left: 20px; */
  background: var(--orange);
  padding: 0 3px 0 3px;
  border-radius: 15px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--bg);
  cursor: pointer;
}
.include-tournament .no-tournament {
  padding: 20px;
  text-align: justify;
  line-height: 1.5;
  color: var(--white);
}
/****************************************************************************
               * graphique-tournament
               *
               * Contenu
               ***************************************************************************/
.tournament-name {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  font-size: medium;
  color: var(--orange);
}
.tournament-name .join {
  margin-left: 15%;
}
.graph-tournament {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
/****************************************************************************
               * FIN graphique-tournament
               ***************************************************************************/
/****************************************************************************
              * Carousel des tournois
              *
              * Gestion du carousel
              ***************************************************************************/
.new-tournament {
  position: relative;
}
.new-tournament button.btn {
  position: absolute;
  background: none;
  border: none;
  outline: none;
  font-size: 2rem;
  z-index: 2;
  cursor: pointer;
  color: var(--orange);
  transform: translateY(-50%);
  top: 88%;
}
#prev {
  left: 50px;
}
#next {
  right: 50px;
}
.slide {
  position: absolute;
  height: 100%;
  width: 100%;
  transition: 0.4s ease-in-out;
  display: none;
}
.slide.active {
  display: block;
}
/****************************************************************************
              * FIN Carousel des tournois
              ***************************************************************************/
/****************************************************************************
         * FIN TOURNOIS
         ***************************************************************************/

/****************************************************************************
         * STATISTIQUES
         *
         * Contenu
         ***************************************************************************/

.card.advencedStats,
.card.historic-game {
  grid-row: 3/7;
  grid-column: 2 /6;
  display: flex;
  flex-direction: column;
}
.card.advencedStats .statistics {
  flex: 1;
  width: 100%;
  display: flex;
}
.statistics .comp-panel {
  height: 95%;
  width: 15%;
  border-top: 2px solid var(--orange);
  border-right: 2px solid var(--orange);
  border-bottom: 2px solid var(--orange);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-right: 3%;
  display: flex;
  flex-direction: column;
}
.comp-panel .title {
  color: #ccc;
  width: 100%;
  text-align: center;
  padding: 5% 0;
}
.toggle {
  display: flex;
  align-items: center;
  margin-left: 5%;
}
.toggle .toggle-name {
  margin-left: 5%;
  color: var(--white);
}
/* Style de base pour le bouton de basculement */
.toggle input[type="checkbox"] {
  display: none;
}
/* Style du curseur du bouton de basculement en position activée */
.toggle input[type="checkbox"]:checked + .slider {
  background-color: var(--orange);
}
/* Style du curseur du bouton de basculement */
.toggle .slider {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
  background-color: #ccc;
  border-radius: 34px;
  transition: background-color 0.3s;
}
/* Style du bouton de basculement */
.toggle .slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s;
}
/* Style du curseur du bouton de basculement en position activée */
.toggle input[type="checkbox"]:checked + .slider:before {
  transform: translateX(15px);
}
.statistics .match-panel {
  height: 100%;
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.statistics .match-panel .stats_buts,
.statistics .match-panel .stats_percent_match_won {
  width: 100%;
}
.statistics .tourny-panel {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tourny-panel .tourny-bloc {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tourny-panel .stats_duration {
  width: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Historique  */
.historic-game-table {
  width: 100%;
  height: 55%;
  overflow-y: auto;
}
.historic-game-table table {
  width: 100%;
  color: var(--white);
}
caption {
  color: var(--orange);
  margin-bottom: 30px;
}
tbody tr {
  text-align: center;
  color: var(--white-sec);
}
tbody tr:nth-child(2n + 1) {
  background-color: var(--bg-body);
}

.blockchain{
  width: 100%;
  margin-top: 10px;
  height: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blockchain .title{
  width: 100%;
  color: var(--orange);
  text-align: center;
}

.bloc-blockChain {
  width: 98%;
  height: 90%;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.bc-tournament{
  width: 99%;
  height: 50%;
  background: var(--bg-body);
  margin: 10px 10px 0 10px;
  border: 1px solid var(--white);
  border-radius: 15px;
  display: flex;
  color: var(--white);
}

.bc-name{
  width: 20%;
  /* font-size: 24px; */
  color: var(--white);
  border-right: 1px solid var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
}

.bc-bloc{
  flex: 1;
  display: flex;
  flex-direction: column;
  /* background-color: pink; */
}

.bc-players{
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.bc-winner{
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}




/****************************************************************************
         * FIN STATISTIQUES
         ***************************************************************************/

/****************************************************************************
 * FIN DASHBOARD
 ***************************************************************************/

/****************************************************************************
 * Profil
 *
 * Profil avec preview et formulaire
 ***************************************************************************/
.profile {
  width: 100%;
  height: 100%;
  background-color: var(--bg);
  border-radius: 15px;
  display: flex;
  justify-content: center;
}
.profile-content {
  margin-top: 5rem;
  width: 50%;
  height: 70%;
  background-color: var(--bg-body);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-content .preview,
.profile-content .form-profile {
  height: 100%;
}
.profile-content .preview {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.preview .preview-card {
  width: 70%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.preview-card .preview-top {
  background-color: var(--orange);
  width: 100%;
  height: 30%;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  position: relative;
  display: flex;
  justify-content: center;
}
.preview-top .preview-img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  position: absolute;
  object-fit: cover;
  top: 50%;
}
.preview-card .preview-bottom {
  width: 100%;
  flex: 1;
  background-color: rgba(247, 138, 80, 0.8);
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--white-sec);
}
.preview-bottom .preview-name,
.preview-bottom .preview-username {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
}
.preview-bottom .preview-name span,
.preview-bottom .preview-username span {
  font-size: larger;
  font-weight: bolder;
}
.profile-content .form-profile {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-left: 15px solid var(--bg);
  color: var(--white);
  gap: 50px;
  padding: 50px;
}
.form-profile #form-profile {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form-profile #form-profile input:focus {
  outline: none;
}
.form-profile .update-profile {
  background-color: var(--orange);
  color: var(--white-sec);
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
}
/****************************************************************************
 * FIN Profil
 ***************************************************************************/

.game {
  width: 100%;
  height: 100%;
  background-color: var(--bg);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;

  .game-content {
    width: 80%;
    height: 80%;
    background-color: var(--bg-body);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .pong {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .opponents {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 50px;
        width: 200px;

        .opponents-img {
          width: 35px;
          height: 35px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }

    canvas {
      border: 1px solid var(--orange);
      /* border-radius: 15px; */
      display: block;
      margin: 0 auto;
    }

    .Pong,
    .Oxo {
      width: 100%;
      height: 50%;
      display: flex;
      justify-content: center;
      /* align-items: center; */
    }
    .Pong .title,
    .Oxo .title {
      color: var(--orange);
      height: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 5px;
    }

    .invit-game {
      width: 80%;
      height: 80%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      justify-content: center;
      position: relative;

      #search {
        display: flex;
        flex-direction: column;
        width: 30%;
        border-radius: 10px;
        position: absolute;
        z-index: 5;
        background: var(--bg);
        margin-top: 10px;

        .bar {
          width: 100%;
          height: 25px;
          border-radius: 5px;
          display: flex;
          align-items: center;
          padding: 5px;

          #search-input {
            width: 85%;
            background-color: transparent;
            border: none;
            color: var(--white);
          }

          #search-input:focus {
            outline: none;
          }

          .search {
            width: 10%;
          }
        }

        .autocomplete {
          width: 85%;
          height: auto;
          font-size: smaller;
          list-style: none;
          margin: 0 0 0 0.5rem;
          padding: 0;
          color: var(--white);
        }
      }

      .Pong #search {
        /* Styles pour le deuxième élément #search */
        top: 5%; /* Par exemple, déplacer le deuxième élément vers le bas de 50% de la hauteur de son conteneur parent */
      }
      .Oxo #search {
        /* Styles pour le deuxième élément #search */
        top: 55%; /* Par exemple, déplacer le deuxième élément vers le bas de 50% de la hauteur de son conteneur parent */
      }
      .vsComputeur, .matchmaking {
        background-color: var(--orange);
        height: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 30px;
        padding: 0 5px;
        border-radius: 5px;
        cursor: pointer;
      }
      .waiting {
        display: flex;
        align-items: center;
        flex-direction: column;
        /* margin-top: 100px; */
        color: var(--orange);

        .waiting-msg {
          font-size: xx-large;
          font-weight: bolder;
          margin-bottom: 150px;
        }

        .wrap-ball {
          position: absolute;
          margin: 15px 15px 15px 15px;
          top: 45%;
          height: 200px;
          width: 265px;
        }

        .ball {
          width: 50px;
          height: 50px;
          background-color: var(--orange);
          border-radius: 100%;
          top: 10px;
          margin: 0 auto;
          animation: ball 1s infinite;
          position: absolute;
        }

        .ball:nth-child(1) {
          left: 0;
        }

        .ball:nth-child(2) {
          left: 100px;
          animation-delay: 0.1s;
        }

        .ball:nth-child(3) {
          left: 200px;
          animation-delay: 0.2s;
        }
      }
    }
  }
}

.join {
  border: 1px solid var(--white-sec);
  width: 100px;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-sec);
  padding: 5px 0;
  font-size: small;
}

@keyframes ball {
  0% {
    top: 6px;
  }

  5% {
    top: 8px;
  }

  10% {
    top: 12px;
  }

  15% {
    top: 20px;
  }

  20% {
    top: 38px;
  }

  25% {
    top: 72px;
  }

  30% {
    top: 100px;
  }

  35% {
    top: 152px;
  }

  40% {
    top: 154px;
    height: 46px;
    width: 54px;
  }

  50% {
    top: 176px;
    height: 24px;
    width: 72px;
  }

  55% {
    top: 162px;
    height: 38px;
    width: 58px;
  }

  60% {
    top: 138px;
    height: 48px;
    width: 52px;
  }

  65% {
    top: 110px;
    height: 50px;
    width: 50px;
  }

  70% {
    top: 72px;
  }
  75% {
    top: 38px;
  }

  80% {
    top: 20px;
  }

  85% {
    top: 12px;
  }

  90% {
    top: 8px;
  }

  95% {
    top: 5px;
  }

  100% {
    top: 5px;
  }
}

/****************************************************************************
 * Modale de notification
 *
 * Style de la modale et de ses elements
 ***************************************************************************/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
/* Style du contenu de la modal */
.modal-content {
  background-color: var(--orange);
  margin: 15% auto;
  padding: 20px;
  width: 30%;
  border-radius: 15px;
}
/* Style pour fermer la modal */
.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #aaa;
  text-decoration: none;
  cursor: pointer;
}
.bloc-btn-notif {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 30px;
}
.bloc-btn-notif .btn-notification-game {
  background-color: var(--white-sec);
  padding: 8px;
  border-radius: 15px;
  cursor: pointer;
}
/****************************************************************************
 * FIN Modale de notification
 ***************************************************************************/

/****************************************************************************
 * QUID ???
 *
 * Pas sure que ce soit toujours util
 ***************************************************************************/
.card--content {
  flex: 1;
  color: var(--white);
  width: 100%;
}
.new-game--content {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  width: 100%;

  ul {
    color: var(--white-sec);
    margin: 10px 0 0 20px;
    width: 100%;
    height: 3.5rem;
  }

  .invitation-sent,
  .invitation-received,
  .invitation-send {
    width: 100%;
    padding-left: 10px;
    padding-top: 10px;
  }
}

/****************************************************************************
 * FIN QUID ???
 ***************************************************************************/

.oxo td {
  border: 2px solid #333;
  height: 100px;
  width: 100px;
  text-align: center;
  vertical-align: middle;
  font-size: 70px;
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.oxo tr:first-child td {
  border-top: 5px solid #333;
}

.oxo tr:last-child td {
  border-bottom: 5px solid #333;
}

.oxo tr td:first-child {
  border-left: 5px solid #333;
}

.oxo tr td:last-child {
  border-right: 5px solid #333;
}

.oxo {
  border-collapse: collapse;
  position: absolute;
  top: 50%; /* Place le haut de l'élément à 50% de la hauteur du conteneur */
  left: 50%; /* Place la gauche de l'élément à 50% de la largeur du conteneur */
  transform: translate(-50%, -50%);
}

.game-container {
  position: relative;
  width: 900px;
  height: 450px;
  border: 1px solid var(--orange);
  /* margin-top: 50px; */
}

/* .menu {
  text-align: center;
  margin-bottom: 20px;
} */

/* .endgame {
  
  width: 200px;
  top: 120px;
  background-color: rgba(37, 167, 54, 0.8);
  position: absolute;
  left: 50%;
  margin-left: -100px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-size: 2em;
  z-index: 1;
} */

.endgame {
  width: 100%;
  padding-top: 20px;
  color: var(--white-sec);
  align-items: center;
  justify-content: center;
  font-size: x-large;
}

/* .custom-btn {
  width: auto; 
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 20px; 
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
      7px 7px 20px 0px rgba(0, 0, 0, .1),
      4px 4px 5px 0px rgba(0, 0, 0, .1);
} */

/* .btn-2 {
  background: rgb(96, 9, 240);
  background: linear-gradient(0deg, rgba(96, 9, 240, 1) 0%, rgba(129, 5, 240, 1) 100%);
  border: none;
}

.btn-2:before {
  height: 0%;
  width : 2px;
}

.btn-2:hover {
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .5),
      -4px -4px 6px 0 rgba(116, 125, 136, .5),
      inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
      inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
} */
