<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>42TranScenDence</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <link rel="stylesheet" href="../static/style.css">
</head>

<body data-user-id="{{ request.user.id }}" data-user-username="{{ request.user.username }}" data-user-photo="{{ request.user.photo.url }}">
    {% if user.is_authenticated %}
    {% csrf_token %}
        <div class="top-banner">
            <a href="{% url 'dashboard' %}">
                <img class="logo pointer" src="../static/img/logo.svg" alt="logo 42Transcendence" >
            </a>
            <div class="user">
                <img class="photo" src="{{ user.photo.url }}" alt="user">
                <div class="name">{{ user.username }}</div>
                <a href="{% url 'profile' %}">
                    <img class='banner-icon pointer' src="../static/img/settings.svg" alt="">
                </a>
                <img class='banner-icon pointer' src="../static/img/exit.svg" alt="" onclick="location.href='{% url 'logout' %}'">
            </div>
        </div>

        <div class="page">
            <div class="content">
            </div>
            <div class="right-banner">
                <div class="title">Joueurs</div>
                <ul id="list_joueurs">
                    <!-- <li>
                        <div class="status online"></div>
                        <div class="name">dduraku</div>
                    </li>
                    <li>
                        <div class="status online"></div>
                        <div class="name">tverdood</div>
                    </li>
                    <li>
                        <div class="status"></div>
                        <div class="name">adevos</div>
                    </li> -->
                </ul>
            </div>
        </div>
        <div id="notificationModal" class="modal">
            <div class="modal-content">
              <span class="close" onclick="closeNotificationModal()">&times;</span>
              <p id="content-notif"></p>
            </div>
          </div>
    {% else %}
        <div class="login">
            <div>Bienvenue</div>
            <img src="../static/img/logo.svg" alt="logo 42Transcendence">
            <div style="font-size: x-large;">Connectez-vous pour continuer.</div>
            <div class="btn-connexion" onclick="location.href='/login/'">Se connecter</div>
        </div>
    {% endif %}
</body>
<script src="../static/js/index.js"></script>

</html>