<div class="dash">
    <div class="card new-game">
        <div class="card--title">Nouveau match</div>
        <a href="{% url 'game' %}">
            <img class="new-game--icon" src="../static/img/playGame.svg" alt="" >
        </a>
    </div>

    <div class="card stats">
        <div class="hello item-card">
            <img class="icon" src="../static/img/presentation.svg" alt="">
            <div class="text-title">Bonjour</div>
            <div class="text-content">{{ user.username  }}</div>
        </div>
        <div class="time item-card">
            <img class="icon" src="../static/img/time.svg" alt="">
            <div class="text-title">Temps de jeu</div>
            <div class="text-content">{{ user.formatted_play_time }}</div>
        </div>
        <div class="oneVSone item-card">
            <img class="icon" src="../static/img/play.svg" alt="">
            <div class="text-title">1 VS 1</div>
            <div id="glabalStatMatch" class="text-content"></div>
        </div>
        <div class="tournois item-card">
            <img class="icon" src="../static/img/tournament.svg" alt="">
            <div class="text-title">Tournois</div>
            <div id="glabalStatTournament"class="text-content">10 sur 30 de gagnes</div>
        </div>
    </div>
    <div class="card new-tournament">
        <div class="card--title">Tournoi(s)
            <span onclick="createTournament()" class="create">+</span>
        </div>
        <div style="width: 100%" class="include-tournament"></div>
        
    </div>
    <div class="card match">
        <div class="card--title">Matchs</div>
    </div>
    <div class="card tournament">
        <div class="card--title">Tournois</div>
    </div>
</div>