<div class="dash">
    <div class="card new-game">
        <div class="card--title">Nouveau match</div>
        <a href="{% url 'game' %}">
            <img class="new-game--icon" src="../static/img/playGame.svg" alt="" >
        </a>
    </div>

    <div class="card stats">
        <div class="hello item-card">
            <img class="icon" src="../static/img/presentation.svg" alt="">
            <div class="text-title">Bonjour</div>
            <div class="text-content">{{ user.username  }}</div>
        </div>
        <div class="time item-card">
            <img class="icon" src="../static/img/time.svg" alt="">
            <div class="text-title">Temps de jeu</div>
            <div class="text-content">{{ user.formatted_play_time }}</div>
        </div>
        <div class="oneVSone item-card">
            <img class="icon" src="../static/img/play.svg" alt="">
            <div class="text-title">1 VS 1</div>
            <div id="glabalStatMatch" class="text-content"></div>
        </div>
        <div class="tournois item-card">
            <img class="icon" src="../static/img/tournament.svg" alt="">
            <div class="text-title">Tournois</div>
            <div id="glabalStatTournament"class="text-content">10 sur 30 de gagnes</div>
        </div>
    </div>

    <div class="card new-tournament">
        <div class="card--title">Tournoi(s)
            <span onclick="createTournament()" class="create">+</span>
        </div>
        <ul style="width: 100%" class="include-tournament">
        </ul>
    </div>
    
    <div class="card advencedStats">
        <div class="card--title">Statistiques avancées du Pong
            <div class="btn-hystoric">Historique</div>
        </div>
        <div class="statistics">
            <div class="comp-panel">
                <div class="title">Paramètres</div>
                  <label class="toggle">
                    <input type="checkbox" checked disabled>
                    <span class="slider"></span>
                    <p class="toggle-name">Pamartin (moi)</p>
                  </label>
                  <label class="toggle">
                    <input type="checkbox">
                    <span class="slider"></span>
                    <p class="toggle-name">Pauline</p>
                  </label>
                  <label class="toggle">
                    <input type="checkbox">
                    <span class="slider"></span>
                    <p class="toggle-name">Pauline</p>
                  </label>
            </div>
            <div class="match-panel">
                <div class="stats_buts"></div>
                <div class="stats_percent_match_won"></div>
            </div>
            <div class="tourny-panel">
                <div class="tourny-bloc">
                    <div class="stats_demi_won"></div>
                    <div class="stats_final_won"></div>
                </div>
                <div class="stats_duration"></div>
            </div>
        </div>
    </div>

    <div class="card historic-game displayNone">
        <div class="card--title">
            <div class="btn-satistics">Statistiques</div>
        </div>
        <div class="historic-game-table">
            <table>
                <caption>Historique des parties</caption>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Jeu</th>
                        <th>Adversaire</th>
                        <th>Resultat</th>
                        <th>Durée</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>8 Avril</td>
                        <td>Pong</td>
                        <td>dduraku</td>
                        <td>Perdu</td>
                        <td>1min</td>

                    </tr>
                    <tr>
                        <td>8 Avril</td>
                        <td>Pong</td>
                        <td>dduraku</td>
                        <td>Perdu</td>
                        <td>1min</td>

                    </tr>
                    <tr>
                        <td>8 Avril</td>
                        <td>Oxo</td>
                        <td>dduraku</td>
                        <td>Perdu</td>
                        <td>1min</td>

                    </tr>
                    <tr>
                        <td>8 Avril</td>
                        <td>Oxo</td>
                        <td>dduraku</td>
                        <td>Perdu</td>
                        <td>1min</td>

                    </tr>
                    <tr>
                        <td>8 Avril</td>
                        <td>Pong</td>
                        <td>dduraku</td>
                        <td>Perdu</td>
                        <td>1min</td>

                    </tr>
                    <tr>
                        <td>8 Avril</td>
                        <td>Oxo</td>
                        <td>dduraku</td>
                        <td>Perdu</td>
                        <td>1min</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
</div>