{% extends 'base.html' %}

{% block content %}
<div class="dash">
    
    <div class="card new-game">
        <div class="card--title">Nouveau match</div>
        <a href="{% url 'game' %}">
            <img class="new-game--icon" src="../static/img/playGame.svg" alt="" >
        </a>
    </div>

    <div class="card stats">
        <div class="hello item-card">
            <img class="icon" src="../static/img/presentation.svg" alt="">
            <div class="text-title">Bonjour</div>
            <div class="text-content">{{ user.username  }}</div>
        </div>
        <div class="time item-card">
            <img class="icon" src="../static/img/time.svg" alt="">
            <div class="text-title">Temps de jeu</div>
            <div class="text-content">{{ user.formatted_play_time }}</div>
        </div>
        <div class="oneVSone item-card">
            <img class="icon" src="../static/img/play.svg" alt="">
            <div class="text-title">1 VS 1</div>
            <div class="text-content">10 sur 30 de gagnes</div>
        </div>
        <div class="tournois item-card">
            <img class="icon" src="../static/img/tournament.svg" alt="">
            <div class="text-title">Tournois</div>
            <div class="text-content">10 sur 30 de gagnes</div>
        </div>
    </div>
    <div class="card new-tournament">
        <div class="card--title">Tournoi(s) en cours</div>
        <div class="graph-tournament">
            <div class="player un">
                <img src="../static/img/tverdood.jpg" alt="">
            </div>
            <div class="graph-bar quart-bar team1"></div>
            <div class="go quart team1">go</div>
            <div class="player deux">
                <img src="../static/img/pamartin.jpg" alt="">
            </div>
            <div class="player trois">
                <img src="../static/img/adevos.png" alt="">
            </div>
            <div class="graph-bar quart-bar team2"></div>
            <div class="go quart team2">go</div>
            <div class="player quatre">
                <img src="../static/img/dduraku.png" alt="">
            </div>
            <div class="player cinq">
                <img src="../static/img/pamartin.jpg" alt="">
            </div>
            <div class="graph-bar demi-bar"></div>
            <div class="go demi">go</div>
            <div class="player six">
                <img src="../static/img/anonymous.png" alt="">
            </div>
            <div class="player sept">
                <img src="../static/img/anonymous.png" alt="">
            </div>
        </div>
        <div class="navigation tournament">
            <div class="previous pointer">></div>
            <div class="next pointer">></div>
        </div>
        <div class="create-join">
            <div class="create">Nouveau</div>
            <div class="join">Rejoindre</div>
        </div>
    </div>
    <div class="card match">
        <div class="card--title">Matchs</div>
    </div>
    <div class="card tournament">
        <div class="card--title">Tournois</div>
    </div>
</div>

{% endblock content %}