<div class="game">
    <div class="game-content">
        <div class="pong displayNone">
            <div class="opponents">
                <img class="opponents-img game-player1" src="" alt="">
                <img class="opponents-img game-player2" src="" alt="">
            </div>
            <canvas id="pongCanvas" width="900" height="450"></canvas>
        </div>
        <div class="invit-game">

            <div id="search">
                <div class="bar">
                    <input type="text" id="search-input" placeholder="Rechercher...">
                    <img class="search notAllowed" onclick="selectPlayer()" src="../static/img/send.svg" alt="">
                </div>
                <ul class="autocomplete">
                </ul>
            </div>
            <div class="waiting displayNone">
                <div class="waiting-msg"></div>
                <div class="wrap-ball">
                    <div class="ball"></div>
                    <div class="ball"></div>
                    <div class="ball"></div>
                </div>
            </div>
        </div>

    </div>
</div>
