<div class="game">
    <div class="game-content">
        <div class="pong">
            <div class="opponents displayNone">
                <img class="opponents-img game-player1" src="" alt="">
                <img class="opponents-img game-player2" src="" alt="">
            </div>
            <canvas id="pongCanvas" width="900" height="450" class="displayNone"></canvas>
            <div class="game-container displayNone">
                <table class="oxo">
                    <tr>
                        <td class="cell" id='0'></td>
                        <td class="cell" id='1'></td>
                        <td class="cell" id='2'></td>
                    </tr>
                    <tr>
                        <td class="cell" id='3'></td>
                        <td class="cell" id='4'></td>
                        <td class="cell" id='5'></td>
                    </tr>
                    <tr>
                        <td class="cell" id='6'></td>
                        <td class="cell" id='7'></td>
                        <td class="cell" id='8'></td>
                    </tr>
                </table>
                <div class="endgame">
                    <div class="text"></div>
                    <!-- <button class="custom-btn btn-2" onClick="startGame()">Replay</button> -->
                </div>
            </div>
        </div>


        <div class="invit-game">
            <div class="waiting displayNone">
                <div class="waiting-msg"></div>
                <div class="wrap-ball">
                    <div class="ball"></div>
                    <div class="ball"></div>
                    <div class="ball"></div>
                </div>
            </div>
            <div class="Pong">
                <div class="title">Nouvelle partie de Pong</div>
                <div id="search">
                    <div class="bar">
                        <input type="text" id="search-input" placeholder="Rechercher...">
                        <img class="search notAllowed" onclick="selectPlayer()" src="../static/img/send.svg" alt="">
                    </div>
                    <ul class="autocomplete">
                    </ul>
                </div>
                <div onclick="playVScomputer('pong')" class="vsComputeur">Jouer contre un bot</div>
                <div onclick="matchMaking('pong')" class="matchmaking">Matchmaking</div>
            </div>
            <div class="Oxo">
                <div class="title">Nouvelle partie de Oxo</div>
                <div id="search">
                    <div class="bar">
                        <input type="text" id="search-input" placeholder="Rechercher...">
                        <img class="search notAllowed" onclick="selectPlayer()" src="../static/img/send.svg" alt="">
                    </div>
                    <ul class="autocomplete">
                    </ul>
                </div>
                <div onclick="playVScomputer('oxo')" class="vsComputeur">Jouer contre un bot</div>
                <div onclick="matchMaking('oxo')" class="matchmaking">Matchmaking</div>
            </div>
            
        </div>

    </div>
</div>
