
    <div class="tournament-name">
        <div onclick="joinTournament()" class="join">Rejoindre</div>
    </div>
    
    <div class="graph-tournament">
        <svg viewBox="7.237 0 301.39 305.277" width="75%" height="60%" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <defs>
              <clipPath id="1">
                <circle cx="29.156" cy="21.919" r="21.919"/>
              </clipPath>
              <clipPath id="2">
                <circle cx="112.222" cy="21.919" r="21.919"/>
              </clipPath>
              <clipPath id="3">
                <circle cx="71.559" cy="151.844" r="21.919"/>
              </clipPath>
              <clipPath id="4">
                <circle cx="202.054" cy="21.919" r="21.919"/>
              </clipPath>
              <clipPath id="5">
                <circle cx="286.708" cy="21.919" r="21.919"/>
              </clipPath>
              <clipPath id="6">
                <circle cx="244.457" cy="151.844" r="21.919"/>
              </clipPath>
              <clipPath id="7">
                <circle cx="158.214" cy="283.358" r="21.919"/>
              </clipPath>
            </defs>
            <!-- 1er match -->
                <!-- Joueur1 -->
            <image class="players-tournament" id="player1" x="7.237" y="-0.002" width="43.841" height="43.841" style="clip-path: url(#1) !important;" transform="matrix(1, 0, 0, 1, 7.105427357601002e-15, 0)" xlink:href="pamartin.jpg"/>
                <!-- Joueur2 -->
            <image class="players-tournament" x="90.303" y="-0.002" width="43.841" height="43.841" clip-path="url(#2)" style="" transform="matrix(1, 0, 0, 1, 7.105427357601002e-15, 0)" xlink:href="url_de_votre_image"/>
                <!-- Vinqueur 1er match  -->
            <image class='winner-tournament' x="49.641" y="129.924" width="43.841" height="43.841" clip-path="url(#3)" style="" transform="matrix(1, 0, 0, 1, 7.105427357601002e-15, 0)" xlink:href="url_de_votre_image"/>
            <polyline style="fill: transparent; stroke: rgb(247, 138, 80);" points="28.769 42.25 28.787 58.331 113.112 58.105 112.85 42.25" transform="matrix(1, 0, 0, 1, 7.105427357601002e-15, 0)"/>
            <line style="fill: rgb(216, 216, 216); stroke: rgb(247, 138, 80);" x1="70.529" y1="58.923" x2="71.111" y2="129.925" transform="matrix(1, 0, 0, 1, 7.105427357601002e-15, 0)"/>
            <foreignObject x="10" y="30" width="80" height="40" transform="matrix(0.5706069469451904, 0, 0, 0.8498231172561647, 54.906208038330085, 56.547794342041016)" style="">
              <button class="btn-gomatch" xmlns="http://www.w3.org/1999/xhtml">GO</button>
            </foreignObject>
            <!-- 1er match -->
                <!-- Joueur3 -->
            <image class="players-tournament" x="180.137" y="-0.002" width="43.841" height="43.841" clip-path="url(#4)" style="" transform="matrix(1, 0, 0, 1, 7.105427357601002e-15, 0)" xlink:href="url_de_votre_image"/>
                <!-- Joueur4 -->
            <image class="players-tournament" x="264.79" y="-0.002" width="43.841" height="43.841" clip-path="url(#5)" style="" transform="matrix(1, 0, 0, 1, 7.105427357601002e-15, 0)" xlink:href="url_de_votre_image"/>
            
                <!-- Vinqueur 1er match  -->
            <image class='winner-tournament' x="222.539" y="129.924" width="43.841" height="43.841" clip-path="url(#6)" style="" transform="matrix(1, 0, 0, 1, 7.105427357601002e-15, 0)" xlink:href="url_de_votre_image"/>
            <polyline style="fill: transparent; stroke: rgb(247, 138, 80);" points="203.256 42.25 203.275 58.331 287.599 58.105 287.337 42.25" transform="matrix(1, 0, 0, 1, 7.105427357601002e-15, 0)"/>
            <line style="fill: rgb(216, 216, 216); stroke: rgb(247, 138, 80);" x1="245.016" y1="58.923" x2="245.6" y2="129.925" transform="matrix(1, 0, 0, 1, 7.105427357601002e-15, 0)"/>
            <foreignObject x="10" y="30" width="80" height="40" transform="matrix(0.5706079006195068, 0, 0, 0.8498231172561647, 230.9830474853516, 56.54813766479492)" style="">
              <button class="btn-gomatch" xmlns="http://www.w3.org/1999/xhtml">GO</button>
            </foreignObject>
            <polyline style="fill: transparent; stroke: rgb(247, 138, 80);" points="71.111 173.765 71.151 190.862 245.6 190.619 245.056 173.765" transform="matrix(1, 0, 0, 1, 7.105427357601002e-15, 0)"/>
            <line style="fill: rgb(216, 216, 216); stroke: rgb(247, 138, 80);" x1="157.504" y1="190.438" x2="158.712" y2="261.44" transform="matrix(1, 0, 0, 1, 7.105427357601002e-15, 0)"/>
            <foreignObject x="10" y="30" width="80" height="40" transform="matrix(0.5706079006195068, 0, 0, 0.8498231172561647, 141.4948883056641, 194.00724792480472)" style="">
              <button class="btn-gomatch" xmlns="http://www.w3.org/1999/xhtml">GO</button>
            </foreignObject>
            <!-- Winner -->
            <image class='winner-tournament' class="winner" x="136.295" y="261.44" width="43.841" height="43.841" clip-path="url(#7)" style="" transform="matrix(1, 0, 0, 1, 7.105427357601002e-15, 0)" xlink:href="url_de_votre_image"/>
        </svg>
    </div>


<!-- <img src="../static/img/graph_tournament.svg" class="graph-tournament" alt=""> -->
<!-- <div class="graph-tournament">
<div class="player un">
    <img src="../static/img/tverdood.jpg" alt="">
</div>
<div class="graph-bar quart-bar team1"></div>
<div class="go quart team1">go</div>
<div class="player deux">
    <img src="../static/img/pamartin.jpg" alt="">
</div>
<div class="player trois">
    <img src="../static/img/adevos.png" alt="">
</div>
<div class="graph-bar quart-bar team2"></div>
<div class="go quart team2">go</div>
<div class="player quatre">
    <img src="../static/img/dduraku.png" alt="">
</div>
<div class="player cinq">
    <img src="../static/img/pamartin.jpg" alt="">
</div>
<div class="graph-bar demi-bar"></div>
<div class="go demi">go</div>
<div class="player six">
    <img src="../static/img/anonymous.png" alt="">
</div>
<div class="player sept">
    <img src="../static/img/anonymous.png" alt="">
</div>
</div> -->




<!-- NAVIGATION !!!! -->
<!-- <div class="navigation tournament">
    <div class="previous">précédent</div>
    <div class="next">suivant</div>
</div> -->